[filter "lfs"]
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
	clean = git-lfs clean -- %f
[user]
	name = Miguel Raposo
	email = migpovrap@hotmail.com
	signingkey = {{ onepasswordRead "op://Personal/GPGKey/signingkey" }}
[gpg]
	program = /opt/homebrew/bin/gpg
	format = openpgp
[commit]
	gpgsign = true

[core]
    pager = bat --theme OneHalfDark --style=full
[pager]
    diff = bat --paging never --pager none --theme OneHalfDark --style=full --language diff

[rebase]
  committerDate = isAuthorDate
